# ABDUL REHMAN
## E-mail: a.rehmanmemon.034@gmail.com
### Date Of Submission: 30/04/2023

* Evaluating machine learning models is important to ensure that they perform well on never-before-seen data.
* Overfitting is a central obstacle in achieving models that generalize.
* Strategies for mitigating overfitting and maximizing generalization involve measuring the generalization power of the model.

##Training, Validation, and Test Sets

* Evaluating a model involves splitting the available data into three sets: training, validation, and test.

* The model is trained on the training set and evaluated on the validation set.
Once the model is ready, it is tested on the test set.

* Tuning the configuration of the model based on its performance on the validation set can quickly result in overfitting to the validation set.

* The validation set can no longer be considered reliable to evaluate the model if information leaks occur.

In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/drive/MyDrive/Task 17_18/heart.csv')

In [3]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
x=data.drop('output',axis=1)
y=data['output']

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [9]:
total_length = len(data)
expected_train=len(data)*0.8
round(expected_train)==len(x_train)

True