# ABDUL REHMAN
## E-mail: a.rehmanmemon.034@gmail.com
### Date Of Submission: 01/04/2023

##Task 13

Topics: Starting with Pandas, Series and DataFrame

Resource: https://drive.google.com/file/d/1ILp88f3u_KgJ_nlhTSsAVGdmZlICGhhd/view?usp=share_link

In [1]:
import pandas as pd

###Series

In [2]:
s = pd.Series([1, 3, 5, 7, 9])
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [3]:
print(s[:3])

0    1
1    3
2    5
dtype: int64

In [4]:
s.head(3)

0    1
1    3
2    5
dtype: int64

In [5]:
t = pd.Series([2, 4, 6, 8, 10])
print(t)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [6]:
u = s + t
print(u)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [7]:
v = s - t
print(v)

0   -1
1   -1
2   -1
3   -1
4   -1
dtype: int64

In [8]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 168.0 bytes

In [9]:
s.describe()

count    5.000000
mean     5.000000
std      3.162278
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [10]:
s.mean()

5.0

In [11]:
s.median()

5.0

In [13]:
s.value_counts()

1    1
3    1
5    1
7    1
9    1
dtype: int64

#DataFrame

In [15]:
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'age': [25, 32, 18, 47, 22],
        'city': ['New York', 'Paris', 'London', 'San Francisco', 'Berlin']}

df = pd.DataFrame(data)
df

      name  age           city
0    Alice   25       New York
1      Bob   32          Paris
2  Charlie   18         London
3    David   47  San Francisco
4    Emily   22         Berlin

In [16]:
df['name']

0      Alice
1        Bob
2    Charlie
3      David
4      Emily
Name: name, dtype: object

In [17]:
df['salary'] = [50000, 70000, 30000, 80000, 40000]
df

      name  age           city  salary
0    Alice   25       New York   50000
1      Bob   32          Paris   70000
2  Charlie   18         London   30000
3    David   47  San Francisco   80000
4    Emily   22         Berlin   40000

In [18]:
filtered = df[df['age'] > 25]
filtered

    name  age           city  salary
1    Bob   32          Paris   70000
3  David   47  San Francisco   80000

In [19]:
grouped = df.groupby('city').mean()
grouped

                age   salary
city
Berlin         22.0  40000.0
London         18.0  30000.0
New York       25.0  50000.0
Paris          32.0  70000.0
San Francisco  47.0  80000.0

# The End ðŸ˜ƒ